
{% extends "layout.html" %}

{% block pageTitle %}
  Learn about the phases of a community
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
        text: "Back",
        href: "/"
      }) }}
      <h1 class="govuk-heading-xl">Learn about the phases of a community</h1>
      <p class="govuk-body-l">We use the phases below to assess the maturity of a given community. These phases will help you assess where your community is and what you should consider next.</p>

      <ul class="govuk-list govuk-!-padding-top-7">
        <li>
          <h2 class="govuk-heading-m">{{ govukTag({ text: "discovery" }) }}</h2>
          <p class="govuk-body">Communities which are in the discovery phase are relatively new and have held 1-3 workshops. In this phase communities should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#">Define the scope of the service area</a></li>
            <li><a href="#">Identify relevant departments, agencies and third parties</a></li>
            <li><a href="#">Give people an understanding of what the community might achieve</a></li>
            <li><a href="/blog#learnings">Understand how the community will work together to achieve that goal</a></li>
            <li><a href="#">Start creating a common understanding of who provides what for the user</a></li>
          </ul>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">{{ govukTag({ text: "alpha" }) }}</h2>
          <p class="govuk-body">Communities which are in the alpha phase are established communities and have held 3 or more workshops. In this phase communities should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#">Finish creating a common understanding of who provides what for the user, with all services (guidance, transactions, support) mapped</a></li>
            <li><a href="#">Make users and community participants aware of what steps users need to do with government to achieve their goal</a></li>
            <li><a href="/blog#learnings">Give everyone an understanding of how the community will work together to achieve that goal</a></li>
          </ul>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">{{ govukTag({ text: "beta" }) }}</h2>
          <p class="govuk-body">Communities which are in the beta phase are recognised communities and have successfully delivered against their community objectives. In this phase communities should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#">Create a common understanding of what user needs are and where they aren't being met</a></li>
            <li><a href="#">Prevent users needing to repeatedly enter information across different transactions</a></li>
            <li><a href="#">Improve the transactions within the service</a></li>
            <li><a href="#">Save taxpayers money through reducing duplication</a></li>
            <li><a href="#">Create a common understanding of what the community needs to deliver next</a></li>
            <li><a href="step-by-step.html">Create a GOV.UK step by step guide</a></li>
          </ul>
        </li>
        <hr class="govuk-section-break govuk-section-break--m ">
        <li>
          <h2 class="govuk-heading-m">{{ govukTag({ text: "live" }) }}</h2>
          <p class="govuk-body">Communities which are in the live phase are mature communities and are continuously improving their respective service area. In this phase communities should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="#">Create teams funded by more than one organisation to work together on a problem</a></li>
            <li><a href="#">Track and measure improvements to the service</a></li>
          </ul>
        </li>
      </ul>


    </div>
</div>

{% endblock %}
