
{% extends "layout.html" %}

{% block pageTitle %}
  Run a service community
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Work across organisational boundaries to solve a whole problem for users
      </h1>
      <p class="govuk-body-l">
        GOV.UK Service Communities enables ongoing cross-government collaboration on services as users see them.
      </h1>

      <p>
        <a href="/browse-communities" class="govuk-link">Browse service communities</a>
      </p>
      <p>
        <a href="/community-lifecycle" class="govuk-link">Learn about the phases of a community</a>
      </p>
      <p>
        <a href="/browse-case-studies" class="govuk-link">Browse collaboration case studies</a>
      </p>
      <p>
        <a href="/community-artefacts" class="govuk-link">Browse artefacts</a>
      </p>

<style>
        
        .community-detail {
          margin-bottom: 5px;
        }
        .community-detail h3,
        .community-detail p {
          display: inline-block;
          margin-bottom: 0;
        }
        .community-detail h3 {
          /*width: 80px;*/
        }
        .community-detail p {
          margin-left: 10px;
        }
      </style>
    </div>
</div>

{% endblock %}
